# Systems Check
## Jyothirmai
### 8/20/2024

### *From Interactive Data we can gain:* 

1. **Practical Skills Development**: Gain hands-on experience with interactive data     tools and software to dynamically analyze and visualize data.

2. **Real-Time Data Exploration**: Learn methods for exploring data interactively, enabling more *adaptable* and *responsive* analysis as data changes.

3. **Advanced Visualization Techniques**: Master creating interactive visualizations to reveal patterns and insights clearly, and *effectively* engage your audience.

4. **Effective Insight Communication**: Enhance your ability to present complex data insights in a clear and *impactful* manner for various audiences.

5. **Problem-Solving Expertise**: Build skills to tackle real-world data challenges and make *well-informed decisions* through interactive data analysis.

![](imageData.jpg)

In [1]:
x=3

In [2]:
x

3

In [3]:
my_list = [3,4,5,6]
my_list

[3, 4, 5, 6]

In [4]:
my_list = ['now', 'see', 'this']

In [5]:
my_list[0]

'now'

## *Variable assignment*

In [6]:
name = "Jyothirmai"
name

'Jyothirmai'

In [7]:
name = 'jyothirmai'
name

'jyothirmai'

### *Function with **print** and **return** statement*

In [8]:
def display_name(x):
    print(x)

In [9]:
display_name(name)

jyothirmai

In [10]:
def change_name(x):
    sentence = x + ' is Beautiful'
    return sentence

In [11]:
NewSentence = change_name('jyothirmai')
NewSentence

'jyothirmai is Beautiful'

## For Loop
### Squaring of numbers from 1 to 4

In [12]:
for i in range(1,5):
    print(i*i)

1
4
9
16

### I have used simple **for loop** to iterate through the sequence of numbers from 1 to 4. For each number in this sequence, it squares of that number by itself and prints the result.